@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
/*
* Dark Mode
--bg: #222;
--mainbg: black;
--text: #fff;
--lighttext: #eee;
--logolight: #999;
--lightest: #444;
--borderdark: #ddd;
--borderlight: #555;
*
*/

body
{
    --bg: #eee;
    --mainbg: #fff;
    --text: #000;
    --texta: #0005;
    --lighttext: #444;
    --logolight: #666;
    --lightest: #888;
    --borderdark: #888;
    --borderlight: #ddd;
    --colordark: #fda4b5;
    --colorlight: #ffe2e6
}
body.dark
{
    --bg: #111;
    --mainbg: black;
    --text: #fff;
    --texta: #fff5;
    --lighttext: #eee;
    --logolight: #999;
    --lightest: #888;
    --borderdark: #ddd;
    --borderlight: #555;
    --colordark: #ffe2e6;
    --colorlight: #fda4b5; 
}

 
@keyframes fadein
{
    from{
        opacity: 0;
        transform: translateY( -20px );
    }
    to
    {
        opacity: 1;
        transform: translateY( 0px );
    }
}

@keyframes bob {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(50px);
    }

    100%{
        transform: translateY(0px);
    }
}

*
{
    animation: fadein 0.5s ease 0s;
}

body,html
{
    padding: 0;
    margin: 0;
    font-family: "Raleway";
    text-transform: uppercase;
    background-color: var(--bg);
    color: var(--text);
    scroll-behavior: smooth;
    overscroll-behavior-y:none;
}
html
{
    background-color: #111;
}

.nav
{
    width: 100%;
    /* height: 60px; */
    box-sizing: border-box;
    background-color: var(--mainbg);
    display: flex;
    align-items: center;
}
.nav .left, .nav .right
{
    width: 100%;
}
.nav a
{
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    letter-spacing: 0.25em;
    border-right: 1px solid var(--borderlight);
    font-size: 12px;
    text-decoration: none;
    color: var(--lightest);
    transition: opacity 0.2s;
}

.nav .right a
{
    border-right: none;
    border-left: 1px solid var(--borderlight);
}
.nav a:hover
{
    opacity: 0.5;
    cursor: pointer;
}
#logo
{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    height: 100%;
    font-weight: 800;
    color:var(--logolight);
}
.wrapper
{
    margin-top: 50px;
    display: flex;
    padding: 0px 30px;
}
.sidebar
{
    box-sizing: border-box;
    flex-basis: 20vw;
    padding: 0px 10px;
    padding-right: 40px;
}
.sidebar .title img
{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-bottom: 20px;
}
.sidebar .title h1
{
    /* box-sizing: border-box; */
    font-weight: 900;
    letter-spacing: 0.3em;
    line-height: 1.5em;
    width: 100%;
    margin: 0;
    font-size: calc( 4.5vw - 20px  );
    color: var(--lighttext);
}
.sidebar .title p
{
    font-weight: 100;
    font-size: 15px;
    font-size: calc( 1vw  );
    padding-bottom: 30px;;
}
hr
{
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
}
.main
{
    box-sizing: border-box;
    flex-basis: 80vw;
    border: 1px solid var(--borderlight);
    border-radius: 5px;
    min-height: 100vh;
    background-color: var(--mainbg);
    z-index: 0;
}

.main .title
{
    padding: 2vw 5vw;
    padding-bottom: 0px;
    box-sizing: border-box;
    display: flex;
    width: 100%;    
    margin: 0;
    /* height: 80vh; */
}
.main .title img
{
    max-width: 40%;
    flex-basis: 40%;;
    align-self: flex-end;
    animation: bob 2s 0s infinite;
    z-index: -1;
}

.main .title h1
{
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 2vw;
    font-size: calc( 5vw - 20px );;
    color: var(--lighttext);
}

.main .title .left
{
    flex-basis: 60%;;
    align-self: center;
    text-align: center;
}

#helpus
{
    display: inline-block;
    position: relative;
    letter-spacing: 0.2em;
    font-size: calc( 1vw);
    margin-bottom: 15px;
    transition: 0s;
}
#helpus::before, #helpus::after
{
    display: inline-block;
    position:absolute;
    top: 45%;
    transform: translate( calc(100% - 4vw - 15px ),-50% );
    width: 2vw;
    height: 0px;
    border-bottom: 1px solid var(--colordark);
    box-shadow: 0px 0px 10px var(--colordark);
    content:  "";
}

#helpus::before
{
    left: 0;
}
#helpus::after
{
    right: 0px;
    transform: translate( calc( 100% + 10px ) ,-50% );
}


.section.lightcolorbg
{
    margin: 0;
    background-color: var(--colorlight);
    border-top: 1px solid var(--colorlight);
}

.button
{
    display: inline-block;
    background-color: transparent;
    padding: 18px 30px;
    border: 1px solid var(--colorlight);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2em;
    border-radius: 50px;
    text-transform: uppercase;
    transition: border 0.3s;
    position: relative;
    text-decoration: none;
    color: var(--text);
}
.button::before
{
    content: "";
    position: absolute;
    background-color: #aaa;
    width: 75%;
    transform: translate(-50%, -50%);
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    opacity: 0;
    transition: width 0.2s, border-radius 0.2s, background-color 0.2s, opacity 0.2s;
}
.button:hover
{
    cursor: pointer;
    border-color: var(--colordark); 
}
.button:hover::before
{
    width: 100%;
    border-radius: 50px;
    background-color: var(--colordark);
    opacity: 0.2;
}
.button:active:before
{
    background-color: var(--colordark);
    opacity: 0.3;
}

.section
{
    padding: 80px 80px;
    z-index: 10;
}
.section h1
{
    color: var(--text);
    font-size: calc( 4vw - 20px );;
    letter-spacing: 0.1em;
    font-weight: 800;
    margin: 0px;
}
.section h2
{
    color: var(--text);
    font-size: calc( 1.2vw );;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin: 0px;
}

.section p, .section li
{
    color: var(--lighttext);
    font-size: calc( 1vw );
    letter-spacing: 0.1em;
    margin-top: 1em;
}
.section p
{
    font-weight: 200;
}

.section .img
{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

hr
{
    border: none;
    border-bottom: 1px solid var(--text);
}

.card
{
    width: 100%;
    background-color: var(--mainbg);
    transition: 0.2s;
}
.card a
{
    text-decoration: none;
}

.card:hover
{
    transform: scale( 1.03 );
    cursor: pointer;
}

.card .img
{
    width:100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.card h1
{
    margin: 0;
    font-size: 11px;
    color: var(--lighttext);
    letter-spacing: 0.2em;
    font-weight: 800;
    padding: 15px 20px;
    text-decoration: none;
}

label
{
    color: var(--text); 
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.1em;
}


label::after
{
    content: "*";
    color: red;
    padding-left: 5px;
    display: inline-block;
    transform: translateY(4px);
    font-size: 20px;
}

input
{
    font-family: "Raleway";
    background-color: transparent;
    color: var(--text);
    padding: 10px 10px;
    border: 1px solid var(--texta);
    margin: 10px 0px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    outline: none;
    width: 100%;
}

input:focus
{
    border-color:var(--text)
}

input::placeholder
{
    color: var(--lighttext);
    opacity: 0.8;
}


footer
{
    font-size: 12px;
    text-align: center;
    color: var(--lightest);
    padding: 100px 0px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
footer *
{
    color: var(--lightest)
}